body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0, 213, 255, 0.603) 100%);
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 50px;
    letter-spacing: 5px;
}

ul {
    text-align: center;
    margin: 30px auto;
}

li {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: white;
    margin: 0 auto;
    width: auto;
    transform: translateX(-20px);
    letter-spacing: 2.5px;
    list-style: none;
    margin-top: 20px;
}